.row-fluid.whitebg
  - @teams.each do |team|
    .span3
      = link_to(team, class: 'box smallbox') do
        - unless team.images.empty?
          .ph{:style => "background-image: url(#{team.images.first.attachment.url(:large)})"} 
          .over
            %h1= team.title
            %p ver detalle
