.row-fluid
  - @teams.each do |team|
    .span3
      = link_to(team, class: 'box smallbox') do
        - unless team.images.empty?
          .ph
            = image_tag(team.images.first.attachment.url(:large))
          .over
            %h1= team.title
            %p ver detalle
