= render :partial => 'spree/shared/error_messages', :locals => { :target => @contact }

= form_for [:admin, @contact], :method => :put, :html => { :multipart => true } do |f|
  = render 'form', f: f 
  = render :partial => 'spree/admin/shared/edit_resource_links'
