body{
	background: #f5f5f5 url(bg2.jpg) repeat;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
FONT
*/
@font-face {	
	font: {
		family: 'DINPro-Light';
		weight: 'normal';
		style: 'normal';
	}
		src: asset-url('DINPro-Light.eot', font);
		src: asset-url('DINPro-Light.eot', font) format('embedded-opentype'),
				 asset-url('DINPro-Light.woff', font) format('woff'), 
				 asset-url('DINPro-Light.ttf', font) format('truetype'), 
				 asset-url('DINPro-Light.svg', font) format('svg');
}
@font-face {	
	font: {
		family: 'DINPro-Regular';
		weight: 'normal';
		style: 'normal';
	}
		src: asset-url('DINPro-Regular.eot', font);
		src: asset-url('DINPro-Regular.eot', font) format('embedded-opentype'),
				 asset-url('DINPro-Regular.woff', font) format('woff'), 
				 asset-url('DINPro-Regular.ttf', font) format('truetype'), 
				 asset-url('DINPro-Regular.svg', font) format('svg');
}
@font-face {	
	font: {
		family: 'DINPro-Bold';
		weight: 'normal';
		style: 'normal';
	}
		src: asset-url('DINPro-Bold.eot', font);
		src: asset-url('DINPro-Bold.eot', font) format('embedded-opentype'),
				 asset-url('DINPro-Bold.woff', font) format('woff'), 
				 asset-url('DINPro-Bold.ttf', font) format('truetype'), 
				 asset-url('DINPro-Bold.svg', font) format('svg');
}
.whitebg{
	background:#fff;
}
#notice{
	margin:0;
	padding:0;
}
#flash_success{
	border-bottom:1px solid #dcdcdc;
	font: 11px 'DINPro-Regular', helvetica, arial, sans-serif;
	padding:2.5%;
	color:#00ff00;
	width:95%;
	text-transform: uppercase;
	background: #fff;
}
#flash_notice{
	border-bottom:1px solid #dcdcdc;
	font: 11px 'DINPro-Regular', helvetica, arial, sans-serif;
	padding:2.5%;
	color:#808080;
	width:95%;
	text-transform: uppercase;
	background: #fff;
}
#flash_error{
	border-bottom:1px solid #dcdcdc;
	font: 11px 'DINPro-Regular', helvetica, arial, sans-serif;
	padding:2.5%;
	color:#ff0000;
	width:95%;
	text-transform: uppercase;
	background: #fff;
}
.title{
	margin:0;
	background:#fff;
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	p{
		text-align: center;
		font:11px 'DINPro-Bold', helvetica, arial, sans-serif;
		color:#aaa;
		text-transform: uppercase;
		letter-spacing: 1.4pt;
		padding: 2.5% 0;
		margin:0;
	}
}
.over{
	background: url(hover.png) repeat;
	width:100%;
	float:left;
	display:none;
	position: relative;
}
.box{
	overflow:hidden;
	float:left;
}
.minibox{
	height:100px;
	width:159.166667px;
	float:left;
	cursor:pointer;
	border-bottom:1px solid #DCDCDC;
	.ph{
		border-right:1px solid #dcdcdc;
	}
}
.related{
	border-bottom:1px solid #dcdcdc;
	.span2:nth-child(6n){
		.minibox .ph{
			border-right:0px;
			width:160.166667px;
		}
	}
}
.minibox .over{
	margin-top:-100px;
	width:99.8%;
}
.minibox .over, .smallbox .ph{
	height: 100px;
}
.minibox .over h1{
	width:100%;
	text-align: center;
	font:11px 'DINPro-Bold', helvetica, arial, sans-serif;
	color:#202020;
	text-transform: uppercase;
	letter-spacing: 2.6pt;
	margin:30px 0 0 0;
	padding:0px;
}
.minibox .over p{
	width:100%;
	text-align: center;
	font:10px 'DINPro-Regular', helvetica, arial, sans-serif;
	color:#aaa;
	text-transform: uppercase;
	letter-spacing: 2pt;
	margin:0;
	padding:2px 0;
}
.smallbox{
	height:151px;
}
.smallbox .over{
	margin-top:-151px;
	width:99.8%;
}
.smallbox .over, .smallbox .ph{
	width:239px;
	height: 151px;
	overflow:hidden;
	background-size:cover;
}
.span3 .smallbox .ph{
	border-right:1px solid #dcdcdc;
}
.span3:nth-child(4n+0) .smallbox .ph{
	border-right:1px solid #fff;
}
.smallbox .over h1{
	width:100%;
	text-align: center;
	font:13px 'DINPro-Bold', helvetica, arial, sans-serif;
	color:#202020;
	text-transform: uppercase;
	letter-spacing: 2.6pt;
	margin:60px 0 0 0;
	padding:0px;
}
.smallbox .over p{
	width:100%;
	text-align: center;
	font:11px 'DINPro-Regular', helvetica, arial, sans-serif;
	color:#aaa;
	text-transform: uppercase;
	letter-spacing: 2pt;
	margin:0;
	padding:2px 0;
}
.product{
	border-bottom:1px solid #DCDCDC;
}
.variants .variant .ph{
  text-align: center;
}
.watchbox {
 		 width:100%;
    height: 350px;
}
.watchbox .over {
    margin-top: -350px;
    width: 99.8%;
}
.watchbox .over, .watchbox .ph {
    height: 350px;
    overflow: hidden;
}
.span3 .watchbox .ph {
    border-right: 1px solid #DCDCDC;
}
.span3:nth-child(4n) .watchbox .ph {
    border-right: 1px solid #FFFFFF;
}
.watchbox .over h1 {
    color: #202020;
    font: 13px 'DINPro-Bold',helvetica,arial,sans-serif;
    letter-spacing: 2.6pt;
    margin: 155px 0 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.watchbox .over p {
    color: #AAAAAA;
    font: 11px 'DINPro-Regular',helvetica,arial,sans-serif;
    letter-spacing: 2pt;
    margin: 0;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.watchwrap{
	width:50%;
	margin-left:25%;
}
.midbox{
	height:240px;
}
.midbox .over{
	margin-top:-240px;
	width:100%;
}
.midbox .over, .midbox .ph{
	height: 240px;
	overflow:hidden;
}
.span3 .midbox .ph{
	border-right:1px solid #ccc;
}
.span3:nth-child(4n+0) .midbox .ph{
	border-right:1px solid #fff;
}
.midbox .over h1{
	width:100%;
	text-align: center;
	font:13px 'DINPro-Bold', helvetica, arial, sans-serif;
	color:#202020;
	text-transform: uppercase;
	letter-spacing: 2.6pt;
	margin:105px 0 0 0;
	padding:0px;
}
.midbox .over p{
	width:100%;
	text-align: center;
	font:11px 'DINPro-Regular', helvetica, arial, sans-serif;
	color:#aaa;
	text-transform: uppercase;
	letter-spacing: 2pt;
	margin:0;
	padding:2px 0;
}
.largebox{
	height:480px;
	background:#bbb;
	.over{
		height:480px;
	}
}
.largebox .over{
	margin-top:-480px;
}
.largebox .over, .largebox .ph{
	height: 480px;
}
.largebox .over h1{
	width:100%;
	text-align: center;
	font:13px 'DINPro-Bold', helvetica, arial, sans-serif;
	color:#202020;
	text-transform: uppercase;
	letter-spacing: 2.6pt;
	margin:225px 0 0 0;
	padding:0px;
}
.largebox .over p{
	width:100%;
	text-align: center;
	font:11px 'DINPro-Regular', helvetica, arial, sans-serif;
	color:#aaa;
	text-transform: uppercase;
	letter-spacing: 2pt;
	margin:0;
	padding:2px 0;
}
.fullbox{
	background:#fff;
	p{
		text-align: left;
		font:11px/17px 'DINPro-Regular', helvetica, arial, sans-serif;
		color:#808080;
		text-transform: uppercase;
		letter-spacing: 0.6pt;
		margin:0;
		padding:25px;
	}
}
.minibox, .smallbox, .midbox, .largebox, .fullbox{
	.ph{
		img{
			width:100%;
			height:auto;
		}
	}
}
.bxslider{
	list-style: none;
	margin:0;
	padding:0;
	height:420px;
	overflow: hidden;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom:10px;
}
.bx-wrapper{
	margin:0;
	width:100%;
 	padding: 0;
	position: relative;
	.bx-controls-direction a{
		width:44px;
		height:103px;
		top:40%;
	}
	.bx-controls-direction{
		display: none;
	}
	.bx-prev{
		background:url(/assets/prevslide.png) no-repeat center left;
		left:0px;
	}
	.bx-next{
		background:url(/assets/nextslide.png) no-repeat center left;
		right:0px;
	}
	.bx-prev:hover, .bx-next:hover{
		background-position: center left;
	}
	img {
    	display: block;
    	max-width: 100%;
    	width:100%;
    	height:auto;
	}
	.bx-viewport {
    background: none;
    border: 0px;
    box-shadow: none;
    left: 0;
    background: none repeat scroll 0 0 #FFFFFF;
    border: none;
    	.item{
    		height:420px;
    	}
	}
	.span3{
		margin:0px;
	}
	.bx-pager.bx-default-pager a{
		width:7px;
		height:7px;
	}
	.bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
		background:#819395;
	}
	.bx-pager.bx-default-pager a{
		background:#bbb;
	}
	.bx-caption{
		bottom:40px;
		background:none;
		span{
			font: 30px 'HelveticaNeueLTStd-UltLtEx';
		}
	}
}
#footer{
	background:#000;
	.footerinside{
		margin:0px  30px 0 30px;
		border-top:1px solid #222;
		p{
			font:9px 'DINPro-Bold', helvetica, arial, sans-serif;
			color:#606060;
			letter-spacing: 1.3pt;
			margin:15px 0 0 0;
			float:left;
			width:50%;
		}
	}
	.hr{
		width:2%;
		height:1px;
		background:#a0a0a0;
		margin:30px 49% 0;
		float:left;
	}
	a{
		width:100%;
		text-align: center;
		font:11px/18px 'DINPro-bold', helvetica, arial, sans-serif;
		color:#606060;
		letter-spacing: 1.3pt;
		margin:5px 0 0 0;
		float:left;
	}
	a:hover{
		text-decoration: none;
		color:#808080;
	}
	a:first-child{
		margin-top: 47px;
	}
	a.nuevediez{
		width:50%;
		text-align: right;
		font:10px/18px 'DINPro-Bold', helvetica, arial, sans-serif;
		color:#606060;
		margin:0px 0 0 0;
		padding:10px 0;
		float:right;
		letter-spacing: 0pt;
		cursor:pointer;
	}
	a.nuevediez:hover{
		text-decoration: none;
		color:#808080;
	}
	a.top{
		background:url(top.png) no-repeat center center;
		border-top:1px solid #222;
		border-left:1px solid #222;
		border-right:1px solid #222;
		width:22px;
		height:22px;
		float:right;
		margin:0px 30px 0px 0px;
		cursor:pointer;
	}
	a.top:hover{
		background:#222 url(top.png) no-repeat center center;
	}
	a.fb{
		background:url(fb.png) no-repeat center right;
		width:50%;
		height:20px;
		float:left;
		margin:25px 0px 0px 0px;
		cursor:pointer;
	}
	a.tw{
		background:url(tw.png) no-repeat center left;
		width:50%;
		height:20px;
		float:left;
		margin:25px 0px 0px 0px;
		cursor:pointer;
	}
}
.contact_us{
	background:#fff;
}
#new_message li {
	list-style:none;
	margin:20px 20px;
	input, textarea {
		margin:0;
		font:10px/18px 'DINPro-Regular', helvetica, arial, sans-serif;
		border-radius:0px;
	}
  .radio, .checkbox{
    padding-left:0px;
  }

  .label, .badge {
    background-color: transparent;
    color: #333333;
    display: inline-block;
    font:11px/17px 'DINPro-Regular', helvetica, arial, sans-serif;
    text-shadow: none;
    vertical-align: baseline;
    white-space: nowrap;
    margin:0;

  }
  .label {
    border-radius: 0px;
  }
}
button, a.button {
  background-color: #333;
  background-image: none;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  color: #FFFFFF;
  font:11px/17px 'DINPro-Regular', helvetica, arial, sans-serif;
  padding: 6px 10px 5px;
  text-shadow: none;
  vertical-align: top;
  margin:0 20px;
}
.radio, #new_message li li.choice {
    margin: 0;
    padding: 0;
}
#new_message li li.choice label {
    background-color: rgba(0, 0, 0, 0);
    color: #333333;
    display: inline-block;
    font: 11px/17px 'DINPro-Regular',helvetica,arial,sans-serif;
    margin: 0;
    text-shadow: none;
    vertical-align: baseline;
    white-space: nowrap;
}
#new_message li li.choice input {
    margin-right: 5px;
}
#new_message {
    margin-bottom: 20px;
}