/* NAVIGATION */

.navbar-fixed-top, .navbar-fixed-bottom{
	position:relative;
}
.navbar-inverse .navbar-inner {
  background-color: #000;
  background-image: none;
  background-repeat: no-repeat;
  border-color: #252525;
  border:none;
  box-shadow: none;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #999999;
  text-shadow: none;
}
.navbar .brand{
	float:left;
	width:200px;
	height:60px;
	background: url(logo.jpg) no-repeat center left;
	margin:0;
	padding:0;
	border-right:1px solid #222;
}
.navbar .nav{
	width:70%;
	li{
		border-right:1px solid #222;
		a{
			font:11px 'DINPro-Bold', helvetica, arial, sans-serif;
			color:#8E8D8D;
			padding:23px 25px;
			text-shadow:none;
			text-transform: uppercase;
		}
	}
	li:hover{
		background:#fff;
		a{
			color:#8E8D8D;
			text-shadow:none;
		}
	}
	.usermenu{
		float:right;
		border:none;
		border-left:1px solid #222;
	}
}

/* SUB NAVIGATION */
.coleccionnav{
	background:#fff;
	display:none;
	.span3{
		border-right:1px solid #dcdcdc;
		height:103px;
		margin-left:0;
		width:25%;
		a{
			width:100%;
			height:100%;
			float:left;
			h1{
				width:100%;
				text-align: center;
				font:11px 'DINPro-Bold', helvetica, arial, sans-serif;
				color:#202020;
				background:transparent;
				text-transform: uppercase;
				letter-spacing: 2.6pt;
				margin:35px 0 0 0;
				padding:0px;
			}
			p{
				width:100%;
				text-align: center;
				font:10px 'DINPro-Regular', helvetica, arial, sans-serif;
				color:#aaa;
				text-transform: uppercase;
				letter-spacing: 2pt;
				margin:0;
				padding:2px 0;
			}
		}
		a:hover{
			text-decoration: none;
			h1{
				color:#aaa;
			}
		}
	}
	.span3:last-child{
		border-right:0px;
	}
}
.seriesnav{
	border-bottom:1px solid #dcdcdc;
	border-top:1px solid #dcdcdc;
	background: #fff;
	h1{
		font: 13px 'DINPro-Regular', helvetica, arial, sans-serif;
		padding:25px;
		color:#808080;
		float:left;
		text-transform: uppercase;
		letter-spacing: 1.3pt;
		margin:0;
	}
	a{
		font: 11px 'DINPro-Bold', helvetica, arial, sans-serif;
		padding:27px;
		color:#808080;
		float:left;
		text-transform: uppercase;
		letter-spacing: 1.3pt;
		margin:0;
	}
	a{
		border-left:1px solid #dcdcdc;
	}
	a:first-child{
		border-left: 0;
	}
	a:hover{
		text-decoration: none;
	}
	a#filters, a.back, a.backtocat{
		float:right;
		cursor:pointer;
		color:#808080;
	}
	a#filters:hover, a.back:hover, a.backtocat:hover{
		background:#fff;
		color:#606060;
	}
}
.seriesdesc{
	border-bottom:1px solid #dcdcdc;
	background: #fff;
	p{
		font: 12px 'DINPro-Regular', helvetica, arial, sans-serif;
		padding:25px;
		color:#808080;
		float:left;
		letter-spacing: 1.3pt;
		width:70%;
	}
}
.form-horizontal .controls{
	margin:0;
}
.form-horizontal .control-group{
	margin:0;
}
.treemenu{
	border-bottom:1px solid #dcdcdc;
	background:#fff;
	padding-bottom:25px;
	.controls{
		margin-left:0;
	}
	input[type="checkbox"]{
		text-align: left;
		font:11px 'DINPro-Regular', helvetica, arial, sans-serif;
		color:#808080;
		text-transform: uppercase;
		letter-spacing: 0.8pt;
		margin:0 0 0 10%;
		float:left;
		width:5%;
	}
	h1{
		width:100%;
		text-align: left;
		font:12px 'DINPro-Bold', helvetica, arial, sans-serif;
		color:#a0a0a0;
		background:transparent;
		text-transform: uppercase;
		letter-spacing: 1.6pt;
		padding:25px;
		margin:0 0 10px 0;
		border-bottom:1px solid #dcdcdc;
		float:left;
	}
	h4{
		text-align: left;
		font:11px 'DINPro-Bold', helvetica, arial, sans-serif;
		color:#808080;
		text-transform: uppercase;
		letter-spacing: 0.8pt;
		margin:20px 0px 0px 0px;
		padding:2.5% 10%;
		float:left;
		width:80%;
	}
	.check_cont{
		width:100%;
		float:left;
	}
	label{
		text-align: left;
		font:11px 'DINPro-Regular', helvetica, arial, sans-serif;
		color:#808080;
		text-transform: uppercase;
		letter-spacing: 0.8pt;
		margin:-2px 0 0;
		padding:0 0 0 7px;
		float:left;
		width:70%;
	}
	a:hover{
		text-decoration: none;
		color:#111;
		background: transparent;
	}
}