%h1 Listing stores

%table
  %tr
    %th
    %th
    %th

  - @stores.each do |store|
    %tr
      %td 
        = store.title
      %td
        = store.description
      %td 
        =  link_to 'Show', store