.row-fluid
  - @stores.each do |store|
    .span3
      = link_to(store, class: 'box smallbox') do
        - unless store.images.empty?
          .ph
            = image_tag(store.images.first.attachment.url(:large))
          .over
            %h1= store.title
            %p ver detalle
