.row-fluid.whitebg
  - @notices.each do |notice|
    .span3
      = link_to(notice, class: 'box smallbox') do
        - unless notice.images.empty?
          .ph{:style => "background-image: url(#{team.images.first.attachment.url(:large)})"} 
          .over
            %h1= notice.title
            %p ver detalle
